[submodule "MLMC"]
	path = MLMC
	url = git@github.com:GeoMop/MLMC.git
[submodule "dfn"]
	path = dfn
	url = git@github.com:GeoMop/dfn.git
[submodule "bgem"]
	path = bgem
	url = git@github.com:GeoMop/bgem.git
